<h1>Profile</h1>

<ng-container *ngIf = "isLogedIn">
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
      </div>
      <input [(ngModel)]=user.username name="username" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Email</span>
      </div>
      <input [(ngModel)]=user.email name="email" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Birth Date</span>
      </div>
      <input [(ngModel)]=user.birthdate name="birthdate" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <button (click)="submitChanges()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</ng-container>